@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primaryColor: #F5F7FA;
$mainColor: #4CAF4F;
$headingColor: #4D4D4D;
$textColor:#717171;
$myFont: "Inter", sans-serif;

.community{
    height: 416px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .community-des{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 40px;

        .community-des-h{
            color: #4D4D4D;
            font-family: $myFont;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            width: 542px;
            text-align: center;
            display: inline-block;
        }
        
        .community-des-p {
                font-size: 16px;
                line-height: 24px;
                font-family: $myFont;
                color: $textColor;
                font-weight: 400;
                text-align: center;
        }
    }

    .community-list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      
        .community-item{
            width: 299px;
            height: 260px;
            padding: 24px;
            box-shadow: 0 2px 4px 0 #abbed194;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            align-items: center;
            transition: all;
            transition-duration:0.1s;
            transition-timing-function: ease-in-out;
            border: 1px solid rgba(255, 255, 255, 0) ;
            background-color: #ffffff;
                
                border-radius: 12px;
            // background-color: rgba(random(255),random(255),random(255),0.2) ;

            .community-item-img{
                width: 65px;
                height: 56px;
                object-fit: contain;
                box-shadow: 0 2px 4px 0 #abbed194;
                border-radius: 12px;
            }

            .community-item-h{
                font-size: 28px;
                line-height: 38px;
                font-weight: 700;
                font-family: $myFont;
                text-align: center;
                color: $headingColor;
            }

             .community-item-p {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                font-family: $myFont;
                text-align: center;
                color: $textColor;
                
            
            }

            
        }

        .first:hover{background-color: #97d2992f;
            border: 1px solid rgba(128, 128, 128, 0.43);
        }
        
        .third:hover {
            background-color: #97d2992f;
            border: 1px solid rgba(128, 128, 128, 0.43);
        }
        
        .second:hover {
            background-color: #97d2992f;
            border: 1px solid rgba(128, 128, 128, 0.43);
        }
        
        .first .third .second{
            transition: all;
                transition-duration: 0.1s;
                transition-timing-function: ease-in-out;

        }
    
                
    }
}